{
    "check-coverage": true,
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "cache": true,
    "watermarks": {
        "lines": [
            80,
            95
        ],
        "functions": [
            80,
            95
        ],
        "branches": [
            80,
            95
        ],
        "statements": [
            80,
            95
        ]
    }
}
